<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="styles/addressbookPlus.css" />
		<link rel="stylesheet" href="fonts/iconfont.css" />
		<style>
			/* 
			 * 由于IE不支持<template>标签，所以template标签中的内容在IE下会直接显示出来。
			 * 将模板设为隐藏即可解决这个问题，template标签各浏览器支持请参考：http://caniuse.com/#feat=template
			 */
			#grid-template, #dialog-template{
				display: none;
			}
		</style>		
	</head>

	<body>
		<div id="app">
			<div class="container">
				<simple-grid :data-list="gridData" :columns="gridColumns" 
					v-on:load-entry="loadCustomer" 
					v-on:delete-entry="deleteCustomer">
				</simple-grid>
			</div>
			<div class="container">
				<div class="form-group">
					<button @click="this.show = true">新建联系人</button>
				</div>
			</div>

			<modal-dialog v-bind:show.sync="show">

				<header class="dialog-header" slot="header">
					<h1 class="dialog-title">新建联系人</h1>
				</header>

				<div class="dialog-body" slot="body">
					<div class="form-group">
						<label>名字</label>
						<input type="text" v-model="item.name" />
					</div>

					<div class="form-group">
						<label>电话号</label>
						<input type="text" v-model="item.phone" />
					</div>

					<div class="form-group">
						<label>性别</label>
						<input type="text" v-model="item.gender" />
					</div>
					<div class="form-group">
						<label></label>
						<button @click="saveCustomer">Save</button>
					</div>
				</div>

			</modal-dialog>
		</div>

		<template id="grid-template">
			<table>
				<thead>
					<tr>
						<th v-for="col in columns">
							{{ col.name}}
						</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(index,entry) in dataList">
						<td v-for="col in columns">
							<span v-if="col.isKey"><a href="javascript:void(0)" @click="loadEntry(entry[col.name])">{{ entry[col.name] }}</a></span>
							<span v-else>{{ entry[col.name] }}</span>
						</td>
						<td>
							<button class="btn-danger" @click="deleteEntry(entry)">delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</template>

		<template id="dialog-template">
			<div class="dialogs">
				<div class="dialog" v-bind:class="{ 'dialog-active': show }">
					<div class="dialog-content">
						<div class="close rotate">
							<span class="iconfont icon-close" @click="close"></span>
						</div>
						<slot name="header"></slot>
						<slot name="body"></slot>
						<slot name="footer"></slot>
					</div>
				</div>
				<div class="dialog-overlay"></div>
			</div>
		</template>

		<script src="js/2.6.14/vue.js"></script>
		<script src="js/vue_resource/vue-resource.js"></script>
		<script>
			Vue.component('simple-grid', {
				template: '#grid-template',
				props: ['dataList', 'columns'],
				methods: {
					loadEntry: function(key) {
						this.$root.eventHub.$emit('load-entry', key)
					},
					deleteEntry: function(entry) {
						this.$root.eventHub.$emit('delete-entry', entry)
					}
				}
			})

			Vue.component('modal-dialog', {
				template: '#dialog-template',
				props: ['show'],
				methods: {
					close: function() {
						this.show = false
					}
				}
			})
		</script>
		<script>

			var demo = new Vue({
				el: '#app',
				data: {
					eventHub: new Vue(),
					show: false,
					title: '',
					gridColumns: [{
						name: 'name',
						isKey: true
					}, {
						name: 'phone'
					}, {
						name: 'gender',
						dataSource: ['男', '女']
					}],
					gridData: [],
					apiUrl: 'http://211.149.193.19:8080/api/customers',
					item: {}
				},
				ready: function() {
					this.getCustomers()
				},
				created: function () {
							this.$root.eventHub.$on('load-entry', (customerId)=>{
								var vm = this
								vm.gridData.forEach(function(item) {
								if (item.customerId === customerId) {
								vm.$set('item', item)
								vm.$set('show', true)
								return
							}
						})
							} ),
							this.$root.eventHub.$on('delete-entry', (customer)=>{
								var resource = this.$resource(this.apiUrl)
								vm = this
								
								resource.remove({ id: customer.customerId})
								.then((response) => {
									vm.getCustomers()
								})
							} )
						},
				methods: {
					closeDialog: function() {
						this.show = false
					},
					// loadCustomer: function(customerId) {
					// 	var vm = this
					// 	vm.gridData.forEach(function(item) {
					// 		if (item.customerId === customerId) {
					// 			vm.$set('item', item)
					// 			vm.$set('show', true)
					// 			return
					// 		}
					// 	})
					// },
					saveCustomer: function() {
						this.item.customerId ? this.updateCustomer() : this.createCustomer()
						this.show = false
					},
					getCustomers: function() {

						var resource = this.$resource(this.apiUrl)
							vm = this

						resource.get()
							.then((response) => {
								vm.$set('gridData', response.data)
							})
							.catch(function(response) {
								console.log(response)
							})
					},
					createCustomer: function() {
						var resource = this.$resource(this.apiUrl)
							vm = this
						
						resource.save(vm.apiUrl, vm.item)
							.then((response) => {
								vm.$set('item', {})
								vm.getCustomers()
							})
						this.show = false
					},
					updateCustomer: function() {
						var resource = this.$resource(this.apiUrl)
							vm = this
							
						resource.update({ id: vm.item.customerId}, vm.item)
							.then((response) => {
								vm.getCustomers()
							})
					},
					deleteCustomer: function(customer){
						var resource = this.$resource(this.apiUrl)
							vm = this
							
						resource.remove({ id: customer.customerId})
							.then((response) => {
								vm.getCustomers()
							})
					}
				}
			})
			demo.$watch('show', function(newVal, oldVal) {
				if (!newVal) {
					this.item = {}
				}
			})
		</script>
	</body>

</html>