<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="styles/demo.css" />
	</head>
	<script src="js/vue.js"></script>
	<body>
		<div id="app">

			<fieldset>
				<legend>
					添加联系人
				</legend>
				<div class="form-group">
					<label>姓名:</label>
					<input type="text" v-model="newPerson.name"/>
				</div>
				<div class="form-group">
					<label>电话:</label>
					<input type="text" v-model="newPerson.phoneNumber"/>
				</div>
				<div class="form-group">
					<label>性别:</label>
					<select v-model="newPerson.sex">
					<option value="男">男性</option>
					<option value="女">女性</option>
				</select>
				</div>
				<div class="form-group">
					<label></label>
					<button @click="createPerson">添加</button>
				</div>
		</fieldset>
		<table>
			<thead>
				<tr>
					<th>姓名</th>
					<th>电话</th>
					<th>性别</th>
					<th>删除</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(person, index) in people">
					<td>{{ person.name }}</td>
					<td>{{ person.phoneNumber }}</td>
					<td>{{ person.sex }}</td>
					<td :class="'text-center'"><button @click="deletePerson(index)">删除</button></td>
				</tr>
			</tbody>
		</table>
		</div>
	</body>
	<script>
    var peopleInfoList = [
      { name: "赵孝军", phoneNumber: 185122123132, sex: "男"},
      { name: "秦国海", phoneNumber: 186546546465, sex: "男"}
    ]
		var vm = new Vue({
			el: '#app',
			data: {
				newPerson: {
					name: '',
					phoneNumber: 0,
					sex: "男"
				},
				people: peopleInfoList
			},
			methods:{
				createPerson: function(){
					this.people.push(this.newPerson);
					// 添加完newPerson对象后，重置newPerson对象
					this.newPerson = {name: '', phoneNumber: 0, sex: "男"}
				},
				deletePerson: function(index){
					// 删一个数组元素
					this.people.splice(index,1);
				}
			}
		})
	</script>

</html>