* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, simhei, Arial, sans-serif;
}

html {
	font-size: 1rem;
}

body{
	margin-top: 100px;
}

table,
td,
th {
	border-collapse: collapse;/*collapse 如果可能，边框会合并为一个单一的边框。会忽略 border-spacing 和 empty-cells 属性。*/
	border-spacing: 0
}

table {
	width: 100%;
}

td,
th {
	border: 1px solid #bcbcbc;
	padding: 5px 10px;
}

th {
	padding: 10px;
	font-weight: 400;
	color: #fff;
	background: #0090d3;
	cursor: pointer;
}
/*设置表格间隔样式*/
tr:nth-of-type(odd) {
	background: #fff
}

tr:nth-of-type(even) {
	background: #eee
}

h1{
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

input {
	outline: none
}

input[type=text] {
	padding: 3px 6px;
	font-size: 1.2rem;
	border: 1px solid #ccc;
	transition: .3s ease-out;
}

input[type=text]:focus {
	border-color: #0090d3;
	transition: .3s ease-in;
}

button {
	display: inline-block;
	box-sizing: border-box;
	padding: 10px 30px;/*上内边距和下内边距是 10px右内边距和左内边距是 30px*/
	background: #0090d3;
	color: #fff;
	border: 1px solid #0090d3;
	border-radius: 3px;	
	outline: 0;

	transition: .4s ease-out;
}

button:hover,
button:focus {
	opacity: 0.8;
	cursor: pointer;
	transition: .15s ease-in;
}

#app {
	margin: 0 auto;
	max-width: 640px;
}

.btn-delete{
	padding: 5px 15px;
	border: 1px solid salmon;
	background: salmon;
}

.btn-save{
	border: 1px solid #0090d3;
	background: #0090d3;
}

.btn-close{
	border: 1px solid #ccc;
	background: #ccc;
}


.container {
	padding-left: 15px;
	padding-right: 15px;
	margin: 10px;
}

.search-input {
	width: 80%;
}

.form-group {
	margin: 10px;
}

.form-group > label {
	display: inline-block;
	padding-right: 1rem;
	width: 5rem;
	text-align: right;
}

.form-group > input,
.form-group > select {
	display: inline-block;
	height: 1.8rem;
	line-height: 1.8rem;
}

.text-center {
	text-align: center;
}

.dialog {
	width: 480px;
	position: fixed;
	left: 50%;
	top: 2em;
	transform: translateX(-50%);
	z-index: 2000; /*设置堆叠顺序置顶*/
	visibility: hidden; /**/
	backface-visibility: hidden;
	perspective: 1300px;
}

.dialog-active {
	visibility: visible;
}

.dialog-active .dialog-content {
	opacity: 1;
	transform: rotateY(0);
}

/*overflow 属性规定当内容溢出元素框时发生的事情*/
.dialog-active ~ .dialog-overlay {
	opacity: 1;
	visibility: hidden;
}

.dialog-content {
	border-radius: 3px;
	background: #fff;
	overflow: hidden; /*overflow 属性规定当内容溢出元素框时发生的事情*/
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	transition: .5s ease-in-out;
	opacity: 0;
	transform-style: preserve-3d;/*transform-style 属性规定如何在 3D 空间中呈现被嵌套的元素。preserve-3d 子元素将保留其 3D 位置。
	*/
	transform: rotateY(-670deg);
}

.dialog-header {
	background: #0090d3;
	color: #fff;
}

.dialog-title {
	margin: 0;
	font-size: 2em;
	text-align: center;
	font-weight: 200;
	line-height: 2em;
}

.dialog-body {
	padding: 2em;
}

.dialog-footer {
	margin: 0 2em;
	padding: 1em 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.dialog-overlay {
	content: "";
	position: fixed;
	visibility: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: all .6s;
}